h1 {
	color: lightpink;
	text-align: center;
}

p {
	color: lightpink;
	text-align: center;
}
body{
background: url(q74tnwuo6b0.jpg);
text-align: center;
}
a{
	border: greenyellow 1px solid;
	background: lightpink;
	
	color: yellow;
	text-decoration: none;
	border-radius: 10px;
}